.answer-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

.answer-grid {
  display: grid;
  grid-template-columns: repeat(15, minmax(auto, 1.25em));
  grid-auto-rows: 4em;
  gap: 0.25em;
  justify-content: center;
}

.answer-grid__tile {
  font-size: clamp(1rem, 5vmin, 3rem);
  grid-column: span 3;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(var(--hue, 240), var(--saturation, 3%), var(--lightness, 7%));
  color: var(--textColor);
  user-select: none;
  text-transform: uppercase;
  font-weight: 500;
}

.answer-grid__tile[data-state='empty'] {
  border: 2px solid var(--gridBorder1);
}

.answer-grid__tile[data-state='notConfirmed'] {
  border: 2px solid var(--gridBorder2);
}

.answer-grid__tile[data-state='incorrect'] {
  background: var(--incorrect);
}

.answer-grid__tile[data-state='incorrect-position'] {
  background: var(--incorrectPosition);
}

.answer-grid__tile[data-state='correct'] {
  background: var(--correct);
}
