.keyboard-container {
  margin-top: auto;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(20, minmax(auto, 1.25em));
  grid-auto-rows: 3em;
  gap: 0.25em;
  justify-content: center;
  position: relative;
  margin: 0.5em;
}

.keyboard__key {
  /* use font size based on body */
  font-size: inherit;
  grid-column: span 2;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue, 200), var(--saturation, 1%), calc(var(--lightness-offset, 0%) + var(--lightness, 51%)));
  color: var(--textColor);
  fill: var(--textColor);
  border-radius: 0.25em;
  cursor: pointer;
  user-select: none;
}

.keyboard__key.keyboard__large {
  grid-column: span 3;
}

.keyboard__key > svg {
  width: 1.75em;
  height: 1.75em;
}

/* Using local variables for the keyboard color so the lightness increase on hover works */
.keyboard__key:hover,
.keyboard__key:focus {
  --lightness-offset: 10%;
}

.keyboard__key[data-state='incorrect'] {
  --lightness: 23%;
}

.keyboard__key[data-state='incorrect-position'] {
  --hue: 49;
  --saturation: 51%;
  --lightness: 47%;
}

.keyboard__key[data-state='correct'] {
  --hue: 115;
  --saturation: 29%;
  --lightness: 43%;
}

/* allows svg to be clicked through without additional handler */
.keyboard__backspace {
  pointer-events: none;
}
