.answer-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
  gap: 0.25em;
}

/* need to update repeat value based on max word length */
.answer-grid__row {
  display: grid;
  grid-template-columns: repeat(15, minmax(auto, 1.25em));
  grid-auto-rows: 4em;
  gap: 0.25em;
  justify-content: center;
}

.answer-grid__row > .answer-grid__tile {
  font-size: clamp(1rem, 5vmin, 3rem);
  grid-column: span 3;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(var(--hue, 240), var(--saturation, 3%), var(--lightness, 7%));
  color: var(--textColor);
  user-select: none;
  text-transform: uppercase;
  font-weight: 500;
}

.answer-grid__tile[data-state='empty'] {
  border: 2px solid var(--gridBorder1);
}

.answer-grid__tile[data-state='incorrect'] {
  background: var(--incorrect);
}

.answer-grid__tile[data-state='incorrect-position'] {
  background: var(--incorrectPosition);
}

.answer-grid__tile[data-state='correct'] {
  background: var(--correct);
}

.answer-grid__tile[data-state='notConfirmed'] {
  border: 2px solid var(--gridBorder2);
}

.answer-grid__row.invalid {
  animation: invalid 400ms ease-in-out;
}

@keyframes invalid {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-0.5rem, 0);
  }
  30% {
    transform: translate(0.75rem, 0);
  }
  50% {
    transform: translate(-0.75rem, 0);
  }
  70% {
    transform: translate(0.75rem, 0);
  }
  90% {
    transform: translate(-0.5rem, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
